/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  section {
    scroll-margin-top: 80px; /* Ajuste conforme a altura da sua navbar */
  }
  
  /* Navbar styling */
  .hero__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    padding: 20px 100px;
    color: #eec0d8;
    background-color: #eec0d8; /* Deixe transparente se necessário */
    position: fixed; /* Fixa a navbar no topo da página */
    top: -25px;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: adiciona uma leve sombra */
    border-radius: 700px;
  }
  
  /* Centering the .hero container */
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 80px; /* Espaço para a navbar fixa */
    margin: 0;
    
    
  }
  
  /* Hero section styling */
  .hero {
    width: 90%;
    height: 80vh; /* Aumente a altura da seção hero */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  
  
  
  /* Background container */
  .hero__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/bg2.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    border-radius: 20px;
  }
  
  .hero__nav .logo img{
    width: 300px; 
  
  }
  
  nav a {
    width: 0%;
  }
  
  span {
    color: #000000;
  }
  
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }
  
  nav ul li a {

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif; /* Adicione esta linha para garantir a mesma fonte */
    
    
  }
  
  nav ul li a:hover {
    color: #f87ec5;
    transition: .3s;
  }
  
  button {
    border: none;
    background: #000000;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
  }
  
  button:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
  }
  
  
  /* Main content styles */
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 120px;
    height: 70vh;
    z-index: 1;
    margin-top: 50px;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 0px;
    margin-bottom: 100px;
  }
  
  .main__content {
    color: #eec0d8;
    width: 100%;
  }
  
  .main__content h1 {
    font-size: 2.5rem;
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main__content h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #eec0d8;;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main__content p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  /* Button styles */
  .main__btn.primary {
    background-color: #eec0d8;;
    color: white;
    border: none;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .main__btn.primary:hover {
    background-color: #ffffff;
    cursor: pointer;
    color: #c9a9a4;
  }
  
  .main__btn.secondary {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .main__btn.secondary:hover {
    background-color: white;
    color: black;
  }
  
  .main__btn.secondary::after {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #ff7b47;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    transition: all 0.3s ease;
  }
  
  .main__btn.secondary:hover::after {
    right: 15px;
  }
  
  /* About section styling */
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    height: 50vh;
    margin-top: 100px;
    
  }
  
  .about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .about__container {
    display: flex;
    flex-direction: row-reverse; /* Inverte a ordem dos elementos */
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    margin: 0 auto; /* Centraliza o container */
  }
  
  .about__image {
    flex: 1;
    padding-left: 20px; /* Espaçamento à esquerda da imagem */
  }
  
  .about__image img {
    width: 150%;
    height: auto;
    border-radius: 10px;
  }
  
  .about__content {
    flex: 1;
    padding-right: 0px; /* Espaçamento à direita do texto */
  }
  .about h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 100px;
    margin-top: -50px;
  }
  
  .about__content p {
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 15px;
    margin-left: -200px;
    margin-right: 50px;
  }
  
  .about__content button {
    padding: 10px 20px;
    background-color: #c9a9a4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .about__content button:hover {
    background-color: #a98580;
  }
  
  .about__content button a {
    color: white;
    text-decoration: none;
  }
  
  /* Modal base */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro com transparência */
  }
  
  /* Conteúdo do modal */
  .modal__content {
    background-color: #fff;
    margin: 15% auto; /* Centraliza verticalmente */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Largura do modal */
    max-width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  /* Botão de fechar */
  .modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal__close:hover {
    color: #000;
  }
  
  /* Botão "Ler Mais" */
  .about__btn {
    padding: 10px 20px;
    background-color: #c9a9a4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .about__btn:hover {
    background-color: #a98580;
  }

.modal__content h2{
    font-size: 1.4rem;
    margin-bottom: 10px;
    font
}

.modal__content p{
    font-size: 1.2rem ;
}
  
 

/* Questions section styling */
.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 30px;
    height: auto; /* Ajusta a altura para conteúdo dinâmico */
  }
  
  .questions h1 {
    font-size: 2rem;
    margin-bottom: 50px;
    color: #333;
  }
  
  .questions__container {
    display: flex;
    flex-direction: row; /* Mantém a ordem natural das colunas */
    align-items: flex-start;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    margin: 0 auto; /* Centraliza o container */
    gap: 20px; /* Espaçamento entre as colunas */
    margin-bottom: 50px;
  }
  
  .questions__text {
    flex: 1;
  }
  
  .questions__text p {
    font-size: 2.4rem;
    color: #333;
    margin: 0;
  }
  
  .questions__content {
    flex: 1;
  }
  
  .questions__content p {
    font-size: 1.3rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .questions__btn {
    padding: 10px 20px;
    background-color: #c9a9a4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .questions__btn:hover {
    background-color: #a98580;
  }
  
/* Mobile Styles */
@media (max-width: 768px) {
  .hero__nav {
    padding: 10px 20px;
    height: 12vh; /* Slightly increase navbar height for better touch accessibility */
    border-radius: 20px; /* Adjust radius for smaller screens */
  }

  .hero {
    width: 95%; /* Ensure it fits within smaller screens */
    height: 60vh; /* Reduce height for better viewport usage */
  }

  .main__container {
    grid-template-columns: 1fr; /* Stack elements vertically */
    margin: 0 20px;
    height: auto; /* Let height adjust dynamically */
    padding: 10px;
  }

  .main__content {
    text-align: center; /* Center content for readability */
  }

  .main__content h1{
    font-size: 1.2rem; /* Reduce font sizes for smaller screens */
    margin-right: 40px;
  }

  .main__content h2{
    font-size: 1rem; /* Reduce font sizes for smaller screens */
    margin-right: 40px;
  }

  .main__content p {
    font-size: 1.2rem; /* Adjust paragraph text size */
  }

  .about {
    padding: 20px; /* Reduce padding */
    height: auto; /* Let height adjust based on content */
  }

  .about__container {
    flex-direction: column; /* Stack image and content vertically */
    align-items: center;
  }

  .about__image img {
    width: 100%; /* Adjust image size to fit */
  }

  .about__content {
    padding: 0; /* Remove side padding */
    margin: 20px 0; /* Add spacing between content blocks */
  }

  .about h1{
    font-size: 1.5rem; /* Adjust heading size */
  }

  .about__content p{
    font-size: 1rem;
    margin-left: 40px;
  }

  .questions__container {
    flex-direction: column; /* Stack content vertically */
    gap: 10px; /* Reduce gap for smaller screens */
  }

  .modal__content {
    width: 90%; /* Adjust modal width */
  }

  /* Buttons */
  button,
  .main__btn.primary,
  .main__btn.secondary,
  .about__btn,
  .questions__btn {
    padding: 5px 20px; /* Adjust padding */
    font-size: 1rem; /* Scale down font size */
  }

  .main__btn.primary {
    padding: 5px 20px; /* Adjust padding */
    font-size: 0.8rem; /* Scale down font size */
    margin-right: 40px;
  }

  .about__btn{
  margin-left: 75px;
  }

  nav ul li a {
    display: none;  }

  .questions__text p {
    font-size: 1.8rem; /* Adjust question text size */
  }

  .questions__content p {
    font-size: 1rem; /* Adjust question description size */
  }
}


/* Sidebar styles */
.sidebar {
  width: 100%; /* A largura ocupa toda a tela */
  position: fixed;
  z-index: 100;
  top: 0; /* Alinha no topo da página */
  left: 0;
  background-color: white;
  overflow-y: hidden; /* Evita rolagem no início */
  transition: max-height 1s ease; /* Transição mais suave */
  max-height: 0; /* Inicialmente, a sidebar começa com altura 0 */
  padding-top: 20px; /* Espaço no topo para os links */
  border-radius: 10px;

  display: flex; /* Usando flexbox */
  flex-direction: column; /* Alinha os itens na vertical */
  justify-content: center; /* Centraliza os itens verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  text-align: center; /* Garante que o texto dos links também fique centralizado */
}

/* Os links da sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  transition: 0.3s;
  margin-top: 15px;
}
.sidebar button {

  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 20px;

}

.sidebar .logo img{
  margin-top: -100px;
  margin-bottom: -50px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* Botão de abrir/fechar (no topo da página) */
#sidebarToggle {
  font-size: 30px;
  color: black;
  cursor: pointer;
  display: block; /* O botão aparece inicialmente */
  background: none;
  border: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 101;

}

/* Quando a sidebar estiver aberta, ajusta o max-height para a altura do conteúdo */
.sidebar.open {
  max-height: 500px; /* Ajuste para a altura necessária para o conteúdo */
  overflow-y: auto; /* Permite rolagem se o conteúdo for maior que o máximo */
}

/* Esconde o botão de abrir/fechar quando a sidebar estiver ativa */
.sidebar.open ~ #sidebarToggle {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: none; /* Oculta a sidebar em telas grandes */
  }

  .sidebar .closebtn {
    display: none; /* Oculta o botão de fechar a sidebar em telas grandes */
  }

  #sidebarToggle {
    display: none; /* Oculta o botão de abrir a sidebar em telas grandes */
  }

}

